.chat-head {
  height: 20%;
  background-color: aquamarine;
}

.chat-list {
  height: 74vh;
  background-color: rgb(157, 225, 203);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-send-section {
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.before-chat {
 display: flex;
 align-items: center;
 justify-content: center;
}
.after-chat{
  height: 90%;
}
.message-left {
  text-align: left;

  align-self: flex-start;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
#second-right{
  height: 90%;
}
.message-right {
  text-align: right;

  align-self: flex-end;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.send-msg {
  display: flex;
  justify-content: space-between;
}
.send-msg button {
  width: 100px;
}
.selectGroup {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid black; */
  height: 100vh;
  width: 100vw;
  /* border-radius: 20px; */
  /* background-color: aquamarine; */
}
.selectGroup h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

#input {
  border: none;
  border-radius: 30px;
  width: 90%;
  height: 40px;
}
.selectGroup input::placeholder {
  padding: 10px;
  margin-left: 10px;
  font-size: 17px;
} 
.select-grp-top {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  height: 15%;
  background-color: rgb(37, 95, 95);
}

.group-left {
  background-color: rgb(157, 225, 203);
  height: 85vh;
  overflow-y: scroll;
  text-align: center;
  
}
.group-left ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.group-left li{
  display: flex;
  color: aliceblue;
width: 100%;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(37, 95, 95);
  margin: 10px 10px;
  text-align: center;
}
.group-left li:hover{
  background-color: rgb(152, 175, 175);
  transition: .5s;
  cursor: pointer;
}
.group-left li a{
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;

}
.group-right {
  background-color: rgb(37, 95, 95);
}

.first-right{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}