.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
    height: 97vh;
    width: 500px;
    /* border-radius: 20px; */
    background-color: aquamarine;
}
.home h1{
    font-size: 30px;
    margin-bottom: 20px;
   
}
input{
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 40px;

}
.home input::placeholder{
    padding: 10px;
    margin-left: 10px;
    font-size: 17px;
}